#!/bin/sh
geth --datadir /srv/Geth/data --networkid 8989 --port 30303 --netrestrict 0.0.0.0/0 --bootnodes "{{ bootnode }}" --syncmode full --unlock 0x{{ coinbase.stdout }} --password /srv/Geth/password.txt --miner.gaslimit 21000 --mine